
/* Mobile version */

@media screen and (max-width: 480px) {
.mainpart {
    float: left;
}
}

@font-face {
    font-family: "sans";
    src: url("sourcesans/SourceSansPro-Bold.otf");
  }
@font-face {
    font-family: "sansregular";
    src: url("sourcesans/SourceSansPro-Regular.otf");
  }

/* Links */

a {
    color: #000;
    text-decoration: none;
}
a:hover, a:active {
    color: #FF6565;
}

/* Button */
.button{
    background-color: #FF6565;
    color: #FFF;
    border: #FF6565;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0.8;
    padding: 10px;
    margin: 20px;
    font-family: "sans";
}
.button:hover, .button:active {
    opacity: 0.9;
    color: #FFF;
}

body {
    margin: 0%;
    padding: 0%;
}


/* Main Part */
.mainpart {
    width: 1220px;
    height: 800px;
    background-image: url(images/headphones_hero_1.jpg);
}

.header {
    display: flex;
    justify-content: space-around;
}

.header-logo {
    margin: 15px;
    padding: 5px;
}
.navbar-menu {
    margin: 10px;
    padding: 5px;
}
.navbar-menu ul {
    list-style-type: none;
    text-align: center;
    
   
}
.navbar-menu ul li{
    display: inline;
}
.navbar-menu ul li a {
    text-decoration: none;
    font-family: "sans";
    padding: .2em 1em;
    color: #fff;
}
.navbar-menu  ul li a:hover {
    color: #FF6565;
}

#textpart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1000px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
}
#textpart h1 {
    font-family: "sans";
    color:#fff;
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
#textpart h5 {
    font-family: "sans";
    color:#fff;
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
#textpart a {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
}
#textpart p {
    font-family: "sansregular";
    color:#fff;
    text-align: center;
    width: 637px;
    padding: 80px;
    margin-top: 10px;
    margin-bottom: 10px;

}
/* What we do part */
.Whatwedo {
    width: 1220px;
    height: 700px;
    background-color: #FFF;
}
.textinwhatwedo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.textinwhatwedo h1 {
    font-family: "sans";
    color:#071629;
    text-align: center;
    padding: 10px;
    margin-top: 100px;
}

.textinwhatwedo p {
    font-family: "sansregular";
    color:#071629;
    text-align: center;
    width: 637px;
}

/** icons **/
.icons {
    display: flex;
    flex-direction: row;
    font-family: "sansregular";
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 1000px;
    height: 200px;
    margin: 10px;
    margin-left: 20px;
    padding: 100px;
}  

/* Our Results */
.Ourresults {
    width: 1220px;
    height: 700px;
    background-image: url(images/headphones_hero_2.jpg);
}
.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.results h1 {
    font-family: "sans";
    color:#FFF;
    text-align: center;
    padding: 10px;
    margin-top: 100px;
}

.results p {
    font-family: "sansregular";
    color:#FFF;
    text-align: center;
    width: 637px;
}

#pentagone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

.pentagone {
    width: 190px;
    height: 190px;
    position: relative;
    margin: 50px;
 }
 .pentagone img{
    width: 190px;
    height: 190px;
 }
.pentatext {
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 10 black;
}
.pentatext h1{
    font-size: 46px;
    margin-bottom: 0px;
    margin-top: 80px;
    padding: 5px;
}
.pentatext p {
    font-size: 12px;
    margin-bottom: 40px;
    padding: 5px;
}

/* Contact us */
.contactus {
    width: 1220px;
    height: 700px;
    background-color: #F2F2F2;
    margin: 0px;
    padding: 0px;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.contact h1{
    margin-top: 100px;
    margin-bottom: 50px;
}

#insection {
    width: 340px;
    height: 100px;
    margin-left: 450px;
    font-family: "sans";
    color: #071629;
    font-size: 14px;
    position: relative; 
}
.input-field {
    width: 100%;
    outline: 0;
    border: 0;
    border-bottom: 2px solid gray;
    padding: 10px 0;
    background: transparent;
    font-size: 14px;
    color: #071629;
    transition: 0.3s ease;
}
.input-label {
    display: block;
    position: absolute;
    top: 0;
    font-size: 14px;
    color: #071629;
    text-transform: capitalize;
    transition: 0.3s ease;
}
.input-field::placeholder {
    color: transparent;
}
.contactus a {
    margin-left: 550px;
}

/* Footer */
.footer {
    width: 1220px;
    height: 250px;
    background-color: #071629;
}
.footersection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 70px;
}
.logos {
    padding: 15px;
}
#copyright {
    font-family: "sansregular";
    color: #FFF;
    margin-left: 500px;
}
